<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script  src="/js/jquery.js"></script> 
    <script src="/js/bootstrap.min.js"></script>
    
    <title>Document</title>

<style>



body{
/*
  background-image: url("https://images.unsplash.com/photo-1472803828399-39d4ac53c6e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTB8NDkxODM2fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=900&q=60"); 
 background-size: cover;
 background-attachment: fixed;
  */
  background-color: #f3f3f3;
}

  #fullBlog{
background-color: white;   
width:55%;
margin-top: 3em;
box-shadow: 0 1px 1px 0 rgb(159 167 194 / 40%);
}
@media screen and (max-width: 1000px) {
  #fullBlog {
    width: 90%;
  }
}


#blogTitles{
    padding-top: 1.2em;
    font-family:   'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 30px;
    display: block;  
   text-align: center;
}

#blogAuthors{
  display: block; 
  margin-bottom: 1.2em;
  font-family: 'Segoe UI';
  font-size: 14px; 
  color: rgb(131, 131, 134);
}
#blogContents{
   height:140px;
   overflow: hidden;
   color: #000000d8;
   font-family: 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-variant: tabular-nums;
    line-height: 1.5;
}
#blogTagss{
   margin-top: 1.2em;
   padding-bottom: 1.4em;
   font-size: 13px; 
   color: rgb(131, 131, 134);
}
</style>

</head>
<body>
  <%- include('../partials/navbar') %>
  

<div class=" row">

 <div class="col-md-0 col-lg-0 col-xl-0" >
  
  <section class=" gradient-custom">
    <div class="container mt-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10 ">
          
        </div>
      </div>
    </div>
  </section>
  

 </div> 


 <div class="col-md-12 col-lg-12 col-xl-12" >
<% let countBlog=0 %> 

<% for(let review of reviews){ %> 
<% countBlog++ %> 

  <div class="container border-3 text-dark mb-5"  id="fullBlog">
    <div class="container"> 
        <div class="container">          

    <div id="blogTitles"><%=  review.title %></div>
    <div id="blogAuthors" class="mt-2"> <span >Written by</span> <b> <%= review.author  %>  </b>, <span ><%=review.publishDate%></span>  </div>

  <div id="blogContents"> <%-  review.content %> </div>

  <div class="pt-3" id="blogContinues"><a href="/reviews/<%= review._id %>">Continue reading</a></div>


  <div id="blogTagss">
    Tags:
    <% for(let tag of review.tag){ %> 
     #<%=tag%> 
     <% } %> 
  </div>


  </div>
  </div>
  </div>

<% } %> 

</div>
</div>

<% if(countBlog == 0){ %> 
<div class="d-flex justify-content-center" style="height: 200px; margin-top:10em ; font-size: large;"> Oops! Nothing to show</div>

  <% } %> 

<div class="d-flex flex-column justify-content-end" style="height:300px; background-color:#091e5c;">
  <div class="d-flex justify-content-center" style="height:50px; background-color:#05133c ;">
    <div style="color: #999999; font-size: 15px; padding-top: 15px; ">©2022 StratShare All rights reserved</div>
</div>
</div>


</body>
</html>